blas
brotli
brotli-bin
bzip2
ca-certificates
contourpy
cycler
cyrus-sasl
dbus
expat
fontconfig
fonttools
freetype
giflib
glib
gst-plugins-base
gstreamer
icu
intel-openmp
jpeg
kiwisolver
krb5
lcms2
lerc
libbrotlicommon
libbrotlidec
libbrotlienc
libclang
libclang13
libcups
libdeflate
libedit
libffi
libgcc-ng
libgomp
libllvm11
libllvm14
libpng
libpq
libstdcxx-ng
libtiff
libuuid
libwebp
libwebp-base
libxcb
libxkbcommon
libxml2
llvmlite
lz4-c
matplotlib
matplotlib-base
mkl
mkl-service
munkres
mysql
ncurses
numba
numpy
numpy-base
openjpeg
openssl
packaging
pcre
pillow
pip
ply
pyparsing
pyqt
pyqt5-sip
python
python-dateutil
qt-main
readline
setuptools
sip
six
sqlite
tbb
tk
tomli
tornado
tzdata
wheel
xz
zlib
zstd
